body, main, .p1p2, .p1p3, .p1p4, .p1p5, .p1p6{
    background-color: black;
    color: yellow;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    margin: 0;
}


.part0{
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-image: url(images/menu_backgroundv2.png);
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
}
h1{
    font-size: 5em;
    text-shadow: -10px 5px 10px rgb(0, 0, 0);
}
.startButton{
    text-align: center;
    margin-top: 40vh;
    width: 5vw;
    height: fit-content;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: solid yellow 0.2rem;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 2rem;
    transition: all ease 200ms;
}
.startButton:hover{
    transform: scale(1.1);
    border: solid white 0.2rem;
    color: white;
    transition: all ease 200ms;
}





.part0, .part1 *, .part2, .part3, .part4, .part5, .p1p2, .p1p3, .p1p4, .p1p5, .p1p6 {
    transition: opacity 3s ease, height 2s ease;
}

.p1p1{
    display: flex;
    justify-content: center;
    align-self: center;
}
.p1p2{
    background-image: url(images/backgrounds/1.5x/OutsideDoor.png);
}
.p1p3{
    background-image: url(images/backgrounds/1.5x/churchentry.png);
}
.p1p4{
    background-image: url(images/backgrounds/1.5x/chruchcross.png);
}
.p1p5{
    background-image: url(images/backgrounds/1.5x/pedstal.png);
}
.p1p6{
    background-image:url(images/backgrounds/1.5x/doorchamber.png) ;
}

.p1p2 img{
    position: absolute;
    left: 49vw;
    top: 47vh;
    transform: scale(1.4);
}
.p1p2 img:hover{
    position: absolute;
    left: 49vw;
    top: 47vh;
    transform: scale(1.5);
    opacity: 70%;
}

.p1p3 img{
    transition: opacity 10s ease, height 10s ease;
    position: absolute;
    left: 51vw;
    top: 70vh;
}
.p1p4 img:nth-of-type(1){
    position: absolute;
    left: 51vw;
    top: 50vh;

}
.p1p4 img:nth-of-type(2){
    position: absolute;
    left: 80vw;
    top: 65vh;
    transform: rotate(90deg); 
}
.p1p4 img:nth-of-type(3){
    position: absolute;
    left: 20vw;
    top: 65vh;
    transform: rotate(270deg); 
}
.p1p4 img:nth-of-type(4){
    position: absolute;
    left: 50vw;
    top: 80vh;
    transform: rotate(180deg); 
}

.p1p5 img:nth-of-type(1){
    position: absolute;
    left: 38vw;
    top: 45vh;

}
.p1p5 img:nth-of-type(2){
    position: absolute;
    left: 55vw;
    top: 60vh;
    transform: rotate(90deg); 
}
.p1p5 img:nth-of-type(3){
    position: absolute;
    left: 50vw;
    top: 80vh;
    transform: rotate(180deg); 
}

.p1p6 img:nth-of-type(1){
    position: absolute;
    left: 22vw;
    top: 40vh;
}
.p1p6 img:nth-of-type(2){
    position: absolute;
    left: 50vw;
    top: 40vh;
}
.p1p6 img:nth-of-type(3){
    position: absolute;
    left: 77vw;
    top: 40vh;
}
.p1p6 img:nth-of-type(4){
    position: absolute;
    left: 50vw;
    top: 70vh;
    transform: rotate(180deg);
}



/* //////////////////////////////////////////PART 2////////////////////////////////////////// */
.p2p1{
    background-color: black;
    color: yellow;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    margin: 0;  
}

.p2p1{
/*     background-image: url(images/backgrounds/1.5x/Gula\ puzzle.png); */
    background-color: grey;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Keep this class at the bottom!! */
.hidden {
    opacity: 0 !important ;
    height: 0  !important ;
    width: 0   !important ;

    overflow: hidden !important ;
    pointer-events: none !important;
}
.p2p1 img:nth-of-type(1){
    position: absolute;
    transform: translate(500px, 600px) scale(1);

}

.p2p1 img:nth-of-type(2){
    position: absolute;
    transform: translate(1000px, 600px) scale(1);

}

.p2p1 img:nth-of-type(3){
    position: absolute;
    transform: translate(1050px, 180px) scale(0.7);

}
.p2p1 img:nth-of-type(3){
    position: absolute;
    transform: translate(1400px, 250px) scale(0.7);

}

.p2p1 img:nth-of-type(4){
    position: absolute;
    transform: translate(50px, 650px) scale(0.7);

}

.p2p1 p{
    display: flex;
    position: absolute;
    flex-wrap: wrap ;
    justify-content: center;   
     align-content: center;
    text-align: center;
    font-size: 1.5em;
    width: 100vw;
    height: 100vh;

}

.p2p1 span{
    position: absolute;
    left: 15px;
    top: 15px;
    border: solid yellow 2px;
    padding: 10px;
    border-radius: 20rem;
}

.damagescreen{
    position: absolute;
    width: 100vw;
    height: 100vw;
    margin: 0;
    left: 0;
    background-color: red;
    pointer-events: none;
    animation: flashing 1s infinite;
}

@keyframes flashing {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


.p2p1 .Gula img:nth-of-type(1){
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(1300px, 20px) scale(1.2);
}

.p2p1 .Gula img:nth-of-type(2){
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(0.9) translate(200px, -40px);
}
.p2p1 .Gula img:nth-of-type(3){
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(1500px, -10px);
}

.p2p1 .Gula img:nth-of-type(4){
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(350px, -20px);
}

.p2p1 .Gula img:nth-of-type(5){
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(500px, -150px);
}
.p2p1 .Gula img:nth-of-type(6){
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(600px, -10px);
}
.p2p1 .Gula img:nth-of-type(7){
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(70px, -10px);
}

.p2p1 .Gula img:nth-of-type(8){
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(900px, -50px);
}

.p2p1 .Gula img:nth-of-type(9){
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(1000px, -10px);
}
.p2p1 .Gula img:nth-of-type(10){
    position: absolute;

    left: 0;
    top: 0;
    transform: translate(1150px, -10px);
}

.Gula img:hover{
    background-color: white;

}

.Gula img{
    animation: alternate infinite wiggle 5s ease;
}

.scale101{
    transform: scale(1.1);
}

@keyframes wiggle {
    0%{
        translate: 0px 0px;
    }
    25%{
        translate: -10px -20px;
    }
    50%{
        translate: 0px 0px;
    }
    75%{
        translate: 10px -20px;
    }
    100%{
        translate: 0px 0px;
    }
}